USER_COOKIE = value you see in Chrome under `Request Headers` as a STRING
USER_DYN = value you see in Chrome under `Form Data` as a STRING
USER_ID =  value you see in Chrome under `Form Data` as a STRING
USER_A = value you see in Chrome under `Form Data` as a STRING
USER_REQ = value you see in Chrome under `Form Data` as a STRING
USER_FB_DTSG = value you see in Chrome under `Form Data` as a STRING
USER_TTSTAMP = value you see in Chrome under `Form Data` as a STRING
USER_REV = value you see in Chrome under `Form Data` as a STRING
