var __CONFIG_PARAM = {
    "conversation_id" : value you see under `Form Data` under "messages[user_id][copy_this_number]" as STRING,
    "cookie"          : value you see in Chrome under `Request Headers` as a STRING,
    "__user"          : value you see in Chrome under `Form Data` as a STRING,
    "__a"             : value you see in Chrome under `Form Data` as a STRING,
    "__dyn"           : value you see in Chrome under `Form Data` as a STRING,
    "__req"           : value you see in Chrome under `Form Data` as a STRING,
    "fb_dtsg"         : value you see in Chrome under `Form Data` as a STRING,
    "ttstamp"         : value you see in Chrome under `Form Data` as a STRING,
    "__rev"           : value you see in Chrome under `Form Data` as a STRING
};
