body {
	font-family: Arial, sans-serif;
	width: 800px;
	height: 584px;
	overflow-x:hidden;
	overflow-y:hidden;
}
::-webkit-scrollbar {width:10px;}
::-webkit-scrollbar-thumb {background : #333f50;}

#health-points {
	font-size: 2em;
}
#interface-container {
	display:flex;
}
.metric-label {
	font-size: 1.3em;
	color: grey;
}
.card {
	margin: 8px;
	padding: 4px;
	width: 170px;
	border: 1px solid #bebebe;
	border-radius: 4px;
	background:white;
}

.main-chart svg {
	width: 600px;
	height: 480px;
}
.main-chart {
}
.hidden-chart {
	display: none;
}
#sidebar {
	display:flex;
	flex-direction:column;
}
#textbody {
	height:112px;
	color:#0099ff;	
	overflow-y:auto;
}
.mymessage {
	color:#ff9900 !important;
}


.mine {
	fill:#ff9900;
	stroke:#ff9900;
}
.their {
	fill:#0099ff;
	stroke:#0099ff;	
}
.point, .fauxpoint {
	fill-opacity:0.7;
	stroke-width:2;
}
.point:hover, .fauxpoint:hover {
	fill-opacity:1;
	stroke-width:9;
}

.tooltip {
	position: absolute;
	text-align: center;
	height:20px;
	border:1px solid black;
	border-radius: 5px;
	padding:4px;
	font: 15px calibri;
	opacity:0.8;
	background: white;
}

.tick line {
	opacity: 0.2;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size:11px;
}

.btn {
	text-align:center;
	cursor:pointer;
	font-size:14px;
	color:rgb(66, 180, 230);
}

.legend-text {
	font-variant:small-caps;
}

.loading-div {
	width: 128px;
	height: 128px;
	background-image: url("../images/icon128.png");
	position: relative;
}
.loading-div-inner {
	width: 100%;
	background-image: url("../images/icon128.png");
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	animation-duration: 8s;
	animation-name: loading-wipeup;
}
@keyframes loading-wipeup {
	from {
		height: 90%;
	}
	to {
		height: 10%;
	}
}
#loading {
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	margin-left: -64px;
	margin-top: -94px;
}